::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html,body {
	margin:0;
	padding:0;
	height:100%;
}
body{
    color: #222222;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(-90deg, #f3f8ff, #e5f9ff);
    min-width: 220px;
    max-width: 100%;
    overflow-x: hidden;
    line-height: 120%;
    min-height: 100vh;
    text-align: center;
}
input,textarea{
	font-family: 'Raleway', sans-serif;
}
img{
	max-width:100%;
}
p{
	text-align:justify;
}
h1{
    color: #3177e6;
    font-weight: 200;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
	margin: 120px auto 20px auto;
    max-width: 1000px;
}
h2{
    color: #35b3ef;
    margin: 20px auto;
    width: 94%;
    max-width: 900px;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
    font-weight: 500;
}
.weight700{
	font-weight:700;
}
.weight400{
	font-weight:400;
}
.weight200{
	font-weight:200;
}
.main-button {
    background: linear-gradient(-90deg, #486ae5, #31c4f1);
    box-shadow: 0 10px 20px rgba(72, 106, 229, 0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px 10px;
    display: block;
    max-width: 230px;
    padding: 18px;
    text-align: center;
	position:relative;
	cursor:pointer;
}
	.main-button:hover {
		opacity: 0.7;
	}
.alt-button {
    background: linear-gradient(-90deg, #ffffff, #eff1fb);
    box-shadow: 0 10px 20px rgba(72, 106, 229, 0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    color: #486ae5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px 10px;
    display: block;
    max-width: 230px;
    padding: 18px;
    text-align: center;
    position: relative;
	cursor:pointer;
}
	.alt-button:hover {
		opacity: 0.8;
	}
.buttonnotice{
    position: absolute;
    left: 165px;
    top: 8px;
    color: red;
    font-style: italic;
    font-size: 14px;
}
a:link{
color: #0065dc;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a:visited {
color: #0065dc;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a:hover{
color:#222222;
text-decoration:none;
}
a:active{
color:#222222;
text-decoration:none;
}
a.altlink:link{
color: #ffffff;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a.altlink:visited {
color: #ffffff;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a.altlink:hover{
color:#cccccc;
text-decoration:none;
}
a.altlink:active{
color:#222222;
text-decoration:none;
}
.centr{
	text-align:center;
	margin:auto;
}
.lefty{
	text-align:left;
}
.righty{
	text-align:right;
}
.white{
	color:#ffffff !important;
}
.plusseperator{
    text-align: center;
    margin: 0 auto 55px auto;
    display: block;
}
/* Top */
#menu {
	position: absolute;
    margin: 0;
    height: 100px;
    padding: 10px 80px;
    right: 22%;
    background: linear-gradient(-90deg, #4ab0ee, #3d9cec);
    -webkit-border-bottom-right-radius: 105px;
    -webkit-border-bottom-left-radius: 105px;
    -moz-border-radius-bottomright: 105px;
    -moz-border-radius-bottomleft: 105px;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    box-shadow: 0 25px 60px rgba(205, 213, 237, 0.7);
    z-index: 2;
}
.menu-item{
	font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 30px 7px;
}
#follow-menu{
    position: fixed;
    margin: 0;
    padding: 0px 50px;
    right: 2%;
    background: linear-gradient(-90deg, #4ab0eee6, #3d9cecf2);
    -webkit-border-bottom-right-radius: 105px;
    -webkit-border-bottom-left-radius: 105px;
    -moz-border-radius-bottomright: 105px;
    -moz-border-radius-bottomleft: 105px;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    box-shadow: 0 2px 5px rgba(80, 80, 80, 0.45);
    z-index: 90;
	display:none;
}
.follow-menu-item{
	font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 10px 7px;
}
#mobile-menu{
	display:none;
	position:fixed;
	top:0;
	right:0;
	z-index:92;
	cursor:pointer;
    padding: 5px;
    border-radius: 0 0 0 10px;
    background: linear-gradient(-90deg, #486ae5, #31c4f1);
}
/* Bottom */
#footerline{
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(-90deg, #4ab0ee, #3d9cec);
    margin-top: 50px;
}
.footerlink{
	display:inline-block;
	margin:20px;
}
/* Content */
#main{
	width:100%;
	margin:auto;
	display:block;
	text-align: center;
}
#main-logo{
    position: absolute;
    left: 3%;
    top: 3%;
}
.text-content{
    width: 94%;
    margin: auto;
    max-width: 900px;
    font-size: 20px;
    line-height: 140%;
    text-align: justify;
}
#press{
    width: 100%;
    padding: 40px 0;
}
	.presspost{
		max-width:320px;
		margin:20px;
		display:inline-block;
		vertical-align:top;
	}
	.presspostimage{
		box-shadow: 5px 5px 15px #cacaca;
		border-radius: 5px;
	}
	.pressposttitle{
		text-align: center;
		color: #35b3ef;
		line-height: 130%;
	}
.icotracker{
	margin:20px;
	max-width:200px;
}
/* RESPONSIVE DESIGN */
@media print {
}