::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

html,body {
	margin:0;
	padding:0;
	height:100%;
}
body{
	color: #222222;
	font-family: 'Raleway', sans-serif;
	background-color: #ffffff;
	min-width:220px;
	max-width: 100%;
	overflow-x: hidden;
	line-height:120%;
	min-height: 100vh;
	text-align:center;
}
input,textarea{
	font-family: 'Raleway', sans-serif;
}
img{
	max-width:100%;
}
p{
	text-align:justify;
}
h1{
    color: #3177e6;
    font-weight: 200;
    font-size: 48px;
    line-height: 130%;
    text-align: left;
    max-width: 430px;
    margin: 57px 0;
}
h2{
	max-width: 430px;
    color: #35b3ef;
    line-height: 130%;
    margin: 50px 0;
}
h3{
    font-size: 28px;
    margin: 50px;
    color: #35b3ef;
    font-weight: 600;
	line-height: 120%;
}
h4 {
    font-size: 28px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 0;
	color: #35b3ef;
	line-height: 100%;
}
h5 {
    font-size: 16px;
    color: #35b3ef;
    font-weight: 700;
    text-transform: uppercase;
    margin: 4px;
}
.weight700{
	font-weight:700;
}
.weight400{
	font-weight:400;
}
.weight200{
	font-weight:200;
}
.main-button {
    background: linear-gradient(-90deg, #486ae5, #31c4f1);
    box-shadow: 0 10px 20px rgba(72, 106, 229, 0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px 10px;
    display: block;
    max-width: 230px;
    padding: 18px;
    text-align: center;
	position:relative;
	cursor:pointer;
}
	.main-button:hover {
		opacity: 0.7;
	}
.alt-button {
    background: linear-gradient(-90deg, #ffffff, #eff1fb);
    box-shadow: 0 10px 20px rgba(72, 106, 229, 0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
    color: #486ae5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 15px 10px;
    display: block;
    max-width: 230px;
    padding: 18px;
    text-align: center;
    position: relative;
	cursor:pointer;
}
	.alt-button:hover {
		opacity: 0.8;
	}
.buttonnotice{
    position: absolute;
    left: 165px;
    top: 8px;
    color: red;
    font-style: italic;
    font-size: 14px;
}
.seperator{
	margin:50px auto;
}
.down-arrow {
	display: inline-block;
	position: relative;
	width: 10px;
	text-align: center;
}
.down-arrow:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 20px solid white;
	border-right: 20px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 20px solid transparent;
}
a:link{
color: #0065dc;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a:visited {
color: #0065dc;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a:hover{
color:#222222;
text-decoration:none;
}
a:active{
color:#222222;
text-decoration:none;
}
a.altlink:link{
color: #ffffff;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a.altlink:visited {
color: #ffffff;
text-decoration:none;
transition: color 0.5s;
-webkit-transition: color 0.5s;
}
a.altlink:hover{
color:#cccccc;
text-decoration:none;
}
a.altlink:active{
color:#222222;
text-decoration:none;
}
.centr{
	text-align:center;
	margin:auto;
}
.lefty{
	text-align:left;
}
.righty{
	text-align:right;
}
.white{
	color:#ffffff !important;
}
/* Top */
#menu {
	position: absolute;
    margin: 0;
    height: 100px;
    padding: 10px 80px;
    right: 22%;
    background: linear-gradient(-90deg, #4ab0ee, #3d9cec);
    -webkit-border-bottom-right-radius: 105px;
    -webkit-border-bottom-left-radius: 105px;
    -moz-border-radius-bottomright: 105px;
    -moz-border-radius-bottomleft: 105px;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    box-shadow: 0 25px 60px rgba(205, 213, 237, 0.7);
    z-index: 2;
}
.menu-item{
	font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 30px 7px;
}
#follow-menu{
    position: fixed;
    margin: 0;
    padding: 0px 50px;
    right: 2%;
    background: linear-gradient(-90deg, #4ab0eee6, #3d9cecf2);
    -webkit-border-bottom-right-radius: 105px;
    -webkit-border-bottom-left-radius: 105px;
    -moz-border-radius-bottomright: 105px;
    -moz-border-radius-bottomleft: 105px;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    box-shadow: 0 2px 5px rgba(80, 80, 80, 0.45);
    z-index: 90;
	display:none;
}
.follow-menu-item{
	font-size: 14px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 10px 7px;
}
#mobile-menu{
	display:none;
	position:fixed;
	top:0;
	right:0;
	z-index:92;
	cursor:pointer;
    padding: 5px;
    border-radius: 0 0 0 10px;
    background: linear-gradient(-90deg, #486ae5, #31c4f1);
}

/* Bottom */
#footerline{
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(-90deg, #4ab0ee, #3d9cec);
    margin-top: 50px;
}
.footerlink{
	display:inline-block;
	margin:20px;
}
#footerlogo{
	margin:40px auto;
}
/* Content */
#main{
	width:100%;
	margin:auto;
	display:block;
	text-align: center;
	overflow: hidden;
}
#overlay{
	pointer-events:none;
	top:0;
	left:0;
	right:0;
	margin:auto;
	position:absolute;
	width:100%;
}
	#intro{
		width:98%;
		margin:auto;
		display:block;
		max-width:1400px;
	}
	.section{
		width:98%;
		margin:100px auto;
		display:block;
		max-width:1400px;
	}
#top-logo{
	max-width:230px;
}
#phone{
    margin-top: 90px;
	position:absolute;
	z-index:3;
	left:0;
}
.headers-container{
    width: 32%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    margin: 50px 0;
}
.phone-container{
    background: url(/img/phone.png) no-repeat;
    background-size: 100%;
    width: 45%;
    height: 800px;
    margin: auto;
    margin-top: 80px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 5;
}
	#phonescreen {
		position: absolute;
		left: 57px;
		right: 0;
		margin: auto;
		width: 52%;
		height: 680px;
		top: 49px;
	}
	#presale-notice {
		color: #ffffff;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		position: absolute;
		bottom: 120px;
		left: 0;
		right: 0;
		text-shadow: 1px 1px 1px #656565;
	}
	#presale-button {
		position: absolute;
		bottom: 55px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 22px;
		font-weight: 600;
		padding: 25px 20px;
	}

	#update-notice {
		color: #ffffff;
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		position: absolute;
		bottom: 278px;
		left: 0;
		right: 0;
		text-shadow: 1px 1px 1px #656565;
	}
	#updatecounter {
		position: absolute;
		bottom: 200px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 40px;
		line-height: 70%;
		font-weight: 300;
		padding: 20px 20px 10px 20px;
		width: 75%;
		border-radius: 6px;
		background: linear-gradient(-90deg, #ffffff, #eff1fb);
		color: #167ac6;
	}
		.timeblock{
			display:inline-block;
			width:22%;
		}
		.timedesc{
			display:block;
			font-size:12px;
		}

#presentation-video{
	width:96%;
	margin:auto;
	display:block;
	max-width:1920px;
}
#ytvideopresentation{
	max-width: 1200px;
    margin: auto;
}
.videoWrapper {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
#benefits{
	position:relative;
	text-align:center;
    max-width: 1800px;
	margin:auto;
	overflow:hidden;
}
	#benefits-title{
		position: absolute;
		top: 118px;
		left: 0;
		right: 0;
	}
	.box-iconbox {
		background: #fff;
		width: 90%;
		margin: 0 auto;
		border-radius: 135px;
		-webkit-border-radius: 300px;
		-moz-border-radius: 135px;
		box-shadow: 15px 30px 60px rgba(72, 106, 229, 0.2);
	}
		#benefitswrapper{
			width: 575px;
			height: 800px;
			position: absolute;
			top: 400px;
			left: 300px;
			text-align: center;
		}
		.benefit{
			width: 45%;
			margin: 10px auto;
			text-align: center;
			display: inline-block;
			vertical-align: top;
		}

		.benefits-description {
			font-weight: 300;
			color: #464646;
			text-align:center;
			font-size: 14px;
			margin:auto;
		}
		.benefits-icon {
            width: 100%;
            margin: auto;
            margin-bottom: -5px;
		}
	#angelinvestment {
		position: absolute;
		width: 461px;
		right: 300px;
		bottom: 500px;
		font-size: 25px;
		font-weight: 200;
		text-align: left;
		line-height: 126%;
		color: #fff;
	}
	#team{
		background: linear-gradient(180deg, #f8fafe, #ffffff);
		margin-top: -35px;
		padding-top: 50px;
	}
		.member{
			width:200px;
			display:inline-block;
			vertical-align:top;
			position:relative;
			margin:10px;
		}
			.teamstatus {
				font-size: 12px;
				color: #898989;
				font-weight: 400;
				line-height: 16px;
				text-align:center;
			}
			.memeberdescription {
				text-align: center;
				color: #fff;
				position:absolute;
				background-color: #333;
				font-size: 14px;
				line-height: 150%;
				padding: 6px;
				border-radius: 5px;
				top: 190px;
				display:none;
				z-index:5;
			}
				.extratitle{
					display:block;
					font-size: 16px;
					color: #35b3ef;
					font-weight: 700;
					text-transform: uppercase;
				}
				.extrastatus{
					display:block;
					font-size: 14px;
					color: #35b3ef;
					font-weight: 300;
					text-transform: uppercase;
				}
			.linkedin {
                position: absolute;
                top: 135px;
                left: 0px;
			}
#ambasadors{
    background: #2ac4f4;
    background: linear-gradient(#2ac4f4, #00c7fa);
	margin-top: -40px;
}
#ambasadorsgradient{
	width:100%;
	max-width:100%;
}
#ambasadorsgradient2{
	width:100%;
	max-width:100%;
}
#roadmap{
	position:relative;
}
#roadmap-headder{
	padding-top: 300px;
}
#roadmap-footer{
    width:100%;
}
#roadmap-footplaceholder{
	height:1000px;
	display:block;
}
#beforeroadmap {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
}
#plusafterroadmap {
    bottom: 160px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
#partners{
	margin:100px 0;
}
.partnerlogo{
	display: inline-block;
    vertical-align: top;
    margin: 10px;
    max-width: 250px;
	width: 100%;
}

#events{
    width: 100%;
    background-color: #00c6fa;
    padding: 40px 0 80px 0;
}
	.event{
		max-width:250px;
		margin:10px;
	}
#press{
    width: 100%;
    padding: 40px 0;
}
	.presspost{
		max-width:320px;
		margin:20px;
		display:inline-block;
		vertical-align:top;
	}
	.presspostimage{
		box-shadow: 5px 5px 15px #cacaca;
		border-radius: 5px;
	}
	.pressposttitle{
		text-align: center;
		color: #35b3ef;
		line-height: 130%;
	}
	#newsnewline{
		display:block;
	}
#icotrackers{
	background: linear-gradient(-90deg, #486ae5, #31c4f1);
    width: 100%;
    padding: 40px 0 200px 0;
	margin:130px 0;
}
	.icotracker{
		margin:20px;
		max-width:200px;
	}

#stayintouchbox{
	background: url(/img/stayintouch.png) no-repeat;
    background-size: cover;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    margin: -230px auto 80px auto;
    border-radius: 48px;
}
	.socialicon{
		padding:3px;
		margin:3px;
		width:35px;
	}
	.subscribeinput{
		border: 0;
		border-radius: 11px;
		padding: 15px;
		font-size: 16px;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		color: #35b3ef;
		flex-grow: 1;
		flex-basis: 70%;
	}
    #subscribebutton{
        flex-shrink: 1;
        border: 0;
        display: inline-block;
        margin: 0;
		font-size: 16px;
        font-weight: bold;
        padding-left: 24px;
        padding-right: 24px;
    }
    #chimp-marketing{
        width: 80%;
        margin: 10px auto;
    }
    .dual-flex{
        margin: 10px;
        display: flex;
    }
        #emailbuttonholder div{
            display: flex;
            align-self: center;
            justify-content: center;
        }
        #emailbuttonholder div:nth-child(1){
            flex-grow: 1;
        }
        #emailbuttonholder div:nth-child(2){
            flex-shrink: 1;
        }
            #more-button{
                background: none;
                border: 0;
                flex-shrink: 1;
                display: inline-block;
            }
            #more-button img{
                filter: invert(100%);
                height: 50px;
            }
        #marketing-more{
            display: none;
            overflow: hidden;
        }
            #marketing-more .dual-flex input:nth-child(1){
                margin-right: 5px;
            }
            #marketing-more .dual-flex input:nth-child(2){
                margin-left: 5px;
            }
            #marketing-more fieldset{
                background: #486ae5;
                border: 0;
                border-radius: 11px;
                color: white;
            }


		#subscribeinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #35b3ef;
		}
		#subscribeinput::-moz-placeholder { /* Firefox 19+ */
		  color: #35b3ef;
		}
		#subscribeinput:-ms-input-placeholder { /* IE 10+ */
		  color: #35b3ef;
		}
		#subscribeinput:-moz-placeholder { /* Firefox 18- */
		  color: #35b3ef;
		}
/* RESPONSIVE DESIGN */
@media screen and (max-width: 1700px) {
	#benefitswrapper{
		left: 230px;
	}
	#angelinvestment{
		bottom: 400px;
		right:200px;
	}
}
@media screen and (max-width: 1600px) {
	#benefitswrapper{
		width:500px;
	}
}
@media screen and (max-width: 1450px) {
	#benefitswrapper{
		width:450px;
		left: 200px;
		top: 300px;
	}
	#angelinvestment {
		bottom: 290px;
		right: 140px;
	}
}
@media screen and (max-width: 1380px) {
	.phone-container{
		width:35%;
		margin-top:200px;
	}
	#phonescreen {
		left: 43px;
		width: 52%;
		height: 507px;
	}
	#menu{
		right:3%;
	}
	h1{
		font-size: 40px;
	}
	#updatecounter{
		font-size:20px;
	}
	#presale-notice{
		font-size: 15px;
		bottom: 115px;
	}
	.timeblock{
		width:20%;
		margin:0 10px;
	}
	#updatenotice{
		bottom: 250px;
	}
	#presale-button {
		position: absolute;
		bottom: 72px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 19px;
		font-weight: 600;
		padding: 7px 10px;
		width: 80%;
	}
	#secondscountdown{
		display:none;
	}
	#angelinvestment{
		bottom: 300px;
		right:100px;
	}
}
@media screen and (max-width: 1300px) {
	.phone-container {
		width: 440px;
		height: 600px;
		margin-top: 200px;
	}
	#benefitswrapper{
		width:380px;
		top:250px;
	}
	.benefits-description {
		font-size: 12px;
	}
	#angelinvestment {
		bottom: 250px;
		right: 30px;
	}
}
@media screen and (max-width: 1204px) {
	.phone-container {
		margin-top: 250px;
	}
	#menu{
		right:3px;
	}
	h1 {
		font-size: 33px;
	}
}
@media screen and (max-width: 1150px) {
	#doctor {
		width: 120%;
		margin: auto;
		max-width: 200%;
		margin-left: -10%;
	}
	#benefitswrapper {
		left: 5%;
		top: 22%;
		width: 40%;
	}
	#angelinvestment {
		width: 330px;
		font-size: 20px;
		bottom: 250px;
		right: 80px;
	}
	.presspost {
		max-width: 250px;
	}
}
@media screen and (max-width: 1000px) {
	#menu{
		padding: 0px 30px;
	}
	.phone-container {
		margin-top: 200px;
	}
	h2 {
		font-size: 20px;
	}
	.section {
		margin: 10px auto;
	}
	.menu-item {
		font-weight: 300;
		margin: 30px 4px;
	}
	#benefitswrapper {
		left: 4%;
		top: 20%;
		width: 46%;
	}
}
@media screen and (max-width: 940px) {
	h1 {
		font-size: 28px;
	}
	#benefitswrapper {
		position: static;
		display: block;
		width: 100%;
		height: auto;
		padding-top: 230px;
	}
	.box-iconbox {
		max-width: 200px;
	}
	.benefit{
		max-width: 230px;
		margin: 20px;
	}
}
@media screen and (max-width: 900px) {
	#angelinvestment {
		left: 9%;
		bottom: 25%;
		color: #4f8ae8;
	}
}
@media screen and (max-width: 890px) {
	#newsnewline{
		display:none;
	}
	.presspost {
		max-width: 300px;
	}
}
@media screen and (max-width: 790px) {
	.phone-container {
		margin-top: 260px;
	}
	#follow-menu{
		left:0;
		right:0;
		margin:auto;
	}
}

@media screen and (max-width: 760px) {
	#menu{
		display:none;
	}
	.headers-container {
		width: 95%;
		text-align:center;
	}
	h1 {
		font-size: 48px;
		text-align: center;
		width: auto;
		margin: 70px auto;
	}
	h2{
		margin: 40px auto;
	}
	.main-button {
		margin:20px auto;
		width:90%;
		max-width:500px;
	}
	.phone-container {
		margin-top: 0px;
	}
	.buttonnotice {
		right: 30%;
	}
    #chimp-marketing{
        width: 100%;
        margin: 10px 0px;
    }
}
@media screen and (max-width: 650px) {
	#angelinvestment {
		font-size: 14px;
		width: 40%;
		line-height: 150%;
		bottom: 20%;
	}
	#follow-menu{
		border-radius: 0;
		width: auto;
		right: 0;
		left: auto;
		padding-top: 25px;
	}
	.follow-menu-item {
		font-size: 18px;
		display: block;
		font-weight: 500;
		margin: 22px 7px;
	}
    #chimp-marketing  #emailbuttonholder{
        display: block;
    }
    #marketing-more .dual-flex{
        display: block;
        margin: 10px 0 !important;
    }
    #marketing-more .dual-flex input{
        width: auto;
        margin: 5px 0 !important;
    }
}
@media screen and (max-width: 560px) {
	#angelinvestment {
		width: 27%;
		bottom: 10%;
	}
}
@media screen and (max-width: 600px) {
	.righty{
		text-align:left;
	}
}
@media screen and (max-width: 500px) {
	h1{
		font-size: 33px;
	}
	.phone-container {
		width: 100%;
		background: none;
		height: auto;
		background: linear-gradient(-90deg, #486ae5, #31c4f1);
		padding: 30px 0;
		margin-bottom:20px;
	}
	#phonescreen{
		width: 70%;
		min-width: 250px;
		margin: auto;
		position: static;
		height:auto;
	}
	#update-notice {
		position: static;
	}
	#updatecounter {
		position: static;
	}
	#presale-notice {
		position: static;
	}
	#presale-button {
		position: static;
	}
	.benefit{
	    width: 90%;
	}
	#angelinvestment {
		bottom:8%;
	}
	#stayintouchbox {
		width: 85%;
		margin: auto;
		padding:10px;
	}
	.socialicon {
		padding: 5px;
		margin: 15px;
		width: 30px;
	}
	img {
		max-width: 90%;
	}
	.main-button {
		width: 75%;
	}
	.timeblock{
		margin:0 2px;
	}
}

@media screen and (max-width: 480px) {
	#doctor{
		display:none;
	}
	#angelinvestment {
		position: static;
		font-size: 22px;
		width: 90%;
		text-align: center;
		margin: 60px auto;
		/* background-color: #222; */
		background: linear-gradient(-90deg, #486ae5, #31c4f1);
		color: #fff;
		padding: 10px;
	}
}

@media print {
}
