#roadmap{
  background: url(/img/roadmap.png) no-repeat center top;
  background-size: cover;
  padding-top: 0px;
  overflow:hidden;
  margin-top: -350px;
}
#mobileplusafterroadmap{
	display:none;
	width:80%;
	margin:30px auto;
}
@media screen and (max-width: 560px) {
	#roadmap {
		background: url(/img/roadmap-mobile.png) no-repeat center top;
		background-size:cover;
		padding-top: 0px;
		overflow: hidden;
		margin-top: -350px;
		margin-bottom:30px;
		box-shadow: 0px 4px 13px #c1c1c1;
	}
	#plusafterroadmap {
		display: none;
	}
	#roadmap-headder{
		color:#fff;
	}
	.timeline {
		margin-top: 20px !important;
	}
	#mobileplusafterroadmap{
		display:block;
	}
}

/*
@media screen and (max-width: 560px) {
	#roadmap {
		background-size: 542%;
		height: 2392px;
	}
	#roadmap-footplaceholder {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	#roadmap {
		background-size: 590%;
		height: 2580px;
	}
}
@media screen and (max-width: 500px) {
	#roadmap {
		background-size: 650%;
		height: 2700px;
	}
}
*/
/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
	margin-top:120px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  background-color: white;
  border: 4px solid #7de1ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -85px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
    padding: 1px 22px;
    position: relative;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  .left {
	left:0;
  }
	.year {
		margin: 13px auto;
		text-align: center;
	}
	.container::after {
		top: 22px;
	}

/* Full-width containers */
  .container {
    padding: 10px 36px;
    position: relative;
    background-color: inherit;
	width: 85%;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 19px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.year{
	color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 13px 0;
}